header {
    border-bottom: 3px solid gray;
    .mezclas_logo{
        width: 180px;
        margin-bottom: 1rem;
    }

    .facebook_logo{
        width: 40px;
    }
    
    .instagram_logo{
        width: 40px;
    }
    
    .twiter_logo{
        width: 40px;
    }
    
    .tiktok_logo{
        width: 40px;
    }
    
    .buscador{
        width: 250px;
    }
}



